html{
	height: 100%;
}

body{
	background-color: none;
	width: 100%;
	height: 100%;
	margin: 0;
}

.cardLoginWith{
	width: 50%;
	margin: auto;
}

.container-custom{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardLoginWith img{
	margin: auto;
	padding: 8px;
}

.login_ast{
	display: none;
}

.login_pln{
	display: none;
}